<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="duke"
          class="di.idol.Juggler">
        <!-- use not default constructor -->
        <constructor-arg value="15"/>
    </bean>

    <bean id="poem"
          class="di.idol.poem.BlizzardPoem">
    </bean>

    <bean id="poeticDuke"
          class="di.idol.PoeticJuggler">
        <!-- transfer into constructor 2 arg -->
        <constructor-arg value="15"/>
        <constructor-arg>
            <bean class="di.idol.poem.BlizzardPoem"/>
        </constructor-arg>
    </bean>

    <bean id="theStage"
          class="di.idol.Stage" factory-method="getInstance">
    </bean>

    <bean id="kenny"
          class="di.idol.Instrumentalist">
        <property name="song" value="I love you baby"/>
        <property name="instrument">
            <bean class="di.idol.instruments.Piano"/>
        </property>
    </bean>

    <bean id="guitar"
          class="di.idol.instruments.Guitar">
    </bean>

    <bean id="rockBand"
          class="di.idol.OneManBand"
          init-method="beforePerform">
        <property name="instrument">
            <list>
                <ref bean="guitar"/>
                <bean class="di.idol.instruments.Piano"/>
            </list>
        </property>
    </bean>

</beans>