<!doctype html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title th:text="'Edit ' + ${user.firstName}">Edit User</title>
    </head>
    <body>
        <form action="#" th:action="@{/user-update}" th:object="${user}" method="post">
            <label for="id">Id</label>
            <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
            <br>
            <label for="firstName">First Name</label>
            <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
            <br>
            <label for="lastName">Last Name</label>
            <input type="text" th:field="*{lastName}" id="lastName" placeholder="LastName">
            <br>
            <input type="submit" value="Save">
        </form>
    </body>
</html>